.todo {
    background-color: #2196f321;
    padding: 16px;
    display: flex;
}

button {
    background: none;
    background-color: #fff;
    border: 0.5px solid #9f9f9f;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

p {
    margin: 0 12px;
}